<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">

	<h1 class="row my-2">Administrators</h1>

	<div class="row">
		<table class="table table-hover bike-list">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Edit</th>
			</tr>
			<% administrators.forEach(function(administrator){ %>
			<tr>
				<td><%= administrator.name %></td>
				<td><%= administrator.username %></td>
				<td>
					<a href="<%= routes.administrators %>/<%= administrator.id %>/edit" class="btn btn-xs btn-warning">Edit</a>
				</td>
			</tr>
			<% }); %>
		</table>
	</div>

	<div class="row justify-content-center my-2">
		<a class="btn btn-primary btn-large" href="<%= routes.administrators %>/new">Add a new Administrator</a>
	</div>
</div>

<% include ../../partials/scripts %>
<% include ../../partials/footer %>
