<div class="nav__wrapper">
	<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
		<a class="navbar-brand" href="<%= routes.root %>">
			<img src="/img/wta-logo-square.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
			<%= siteTitle %>
		</a>
		<% if (currentUser) { %>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="navbar-nav ml-auto">
						<div class="nav-item nav-link"> Signed in as <strong><%= currentUser.username %></strong></div>
						<a class="nav-item nav-link" href="<%= routes.logout %>">Logout</a>
				</div>
			</div>
		<% } %>
	</nav>
</div>

<% if(success && success.length > 0){ %>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= success %>
	</div>
<% } %>

<% if(error && error.length > 0){ %>
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= error %>
	</div>
<% } %>
