<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container content">

	<div class="row justify-content-center mb-3 mb-md-5">
		<h1 class="col-10 text-center">Sign up for the <%= siteTitle %></h1>
	</div>

	<div class="row justify-content-center">

		<div class="col-12 col-sm-4 mb-3">
			<div class="row">
				<h4 class="col-12 text-center"><em>With:</em></h4>
			</div>
			<div class="row">
				<h3 class="col-12 text-center"><%= subscriberGroup.groupName %></h3>
			</div>
			<div class="row justify-content-center">
				<div class="col-6">
					<img src="<%= subscriberGroup.logoSrc %>" class="img-fluid" alt="<%= subscriberGroup.groupName + ' logo' %>" />
				</div>
			</div>
		</div>


		<form
			class="col-sm-8 col-md-6 col-xl-5"
			name="signup"
			action="<%= routes.signUp %>/<%= subscriberGroup.signUpSlug %>"
			method="POST">
			<div class="form-group">
				<label for="first-name" class="col-form-label">First Name</label>
				<input class="form-control" type="text" id="first-name" name="subscriber[firstName]">
			</div>
			<div class="form-group">
				<label for="last-name" class="col-form-label">Last Name</label>
				<input class="form-control" type="text" id="last-name" name="subscriber[lastName]">
			</div>
			<div class="form-group">
				<label for="email">Enter your email address</label>
				<input type="email" class="form-control" id="email" name="subscriber[email]">
				<small id="emailHelp" class="form-text text-muted">Email must end in: <strong><%= subscriberGroup.emailDomain %></strong></small>
			</div>
			<div class="form-group">
				<label for="email_verify" class="col-form-label">Re-enter your email address</label>
				<input type="email" class="form-control" id="email_verify" name="email_verify">
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" id="legal" name="legal">
					I accept the <button type="button" class="btn btn-link p-0 border-0" data-toggle="modal" data-target="#legalModal">Terms and Conditions</button>.
				</label>
			</div>
			<div class="form-group mt-4">
				<button type="submit" class="btn btn-primary btn-lg">Submit</button>
			</div>
		</form>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-labelledby="legalModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= subscriberGroup.legalText %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<% include ../partials/scripts %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script>
	var emailDomain = '<%= subscriberGroup.emailDomain %>';

	$(function() {
		jQuery.validator.addMethod("domain", function(value, element) {
		  var re = new RegExp(emailDomain + '$');
		  return this.optional(element) || re.test(value);
		}, "Email does not end in: " + emailDomain);

		$("form[name='signup']").validate({
			rules: {
				'subscriber[firstName]': 'required',
				'subscriber[lastName]': 'required',
				'subscriber[email]': {
					required: true,
					email: true,
					domain: true
				},
				email_verify: {
					required: true,
					equalTo: '#email'
				},
				legal: {
					required: true
				}
			},
			messages: {
				email_verify: {
					equalTo: "Email addresses do not match"
				},
				legal: {
					required: "Please accept Terms and Agreements"
				}
			},
			errorPlacement: function(error, element) {
				error.appendTo(element.parent());
			},
			submitHandler: function(form) {
				form.submit();
			}
		});
	});
</script>
<% include ../partials/footer %>
