<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">

	<h2 class="row justify-content-center mt-2">Edit Bike #: <%= bike.bikeId %></h2>

	<div class="row justify-content-center">
		<form action="<%= routes.bikes %>/<%= bike.id%>" method="POST">
			<div class="form-group">
				<input class="form-control" name="bike[bikeId]" type="text" value="<%= bike.bikeId %>">
			</div>
			<div class="form-group">
				<input class="form-control" name="bike[code]" type="text" value="<%= bike.code %>">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				<input type="hidden" name="_method" value="PUT">
			</div>
		</form>
	</div>

	<form
		class="row justify-content-center"
		action="<%= routes.bikes %>/<%= bike.id %>"
		method="POST"
		onsubmit="return confirm('Do you really want to delete bike #<%= bike.bikeId %>?');">

		<button class="btn btn-lg btn-danger">Delete Bike</button>
		<input type="hidden" name="_method" value="DELETE">
	</form>

	<div class="row justify-content-center my-2">
		<a class="btn btn-lg btn-success" href="<%= routes.bikes %>">Go Back</a>
	</div>

</div>

<% include ../../partials/scripts %>
<% include ../../partials/footer %>
