<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">
  <div class="row">
    <a class="btn btn-primary btn-large" href="<%= routes.bikes %>/new">Add a new Bike</a>
  </div>


  <div class="row">
    <table class="table table-hover bike-list">
      <tr>
        <th>Bike ID #</th>
        <th>Bike Lock Code</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% bikes.forEach(function(bike){ %>
        <tr>
          <td><%= bike.bikeId %></td>
          <td><%= bike.code %></td>
          <td>
              <a href="<%= routes.bikes %>/<%= bike.id %>/edit" class="btn btn-xs btn-warning">Edit</a>
          </td>
          <td>
            <form action="<%= routes.bikes %>/<%= bike.id %>" method="POST" class="make-inline">
              <button class="btn btn-xs btn-danger">Delete</button>
              <input type="hidden" name="_method" value="DELETE">
            </form>
          </td>
        </tr>
      <% }); %>
    </table>
  </div>
</div>

<% include ../../partials/scripts %>
<% include ../../partials/footer %>
