<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">

	<div class="row my-2 justify-content-center">
		<h1>Edit Subscriber Group:</h1>
	</div>

	<div class="row my-2 justify-content-center">
		<h1><em><%= subscriberGroup.groupName %></em></h1>
	</div>


	<div class="row my-2 justify-content-center">
		<form class="col-md-6" action="<%= routes.subscriberGroups %>/<%= subscriberGroup._id %>" method="POST">
			<div class="row form-group">
				<label for="groupName">Group Name</label>
				<input class="form-control" id="firstName" name="subscriberGroup[groupName]" type="text" value="<%= subscriberGroup.groupName %>">
			</div>
			<div class="row form-group">
				<label for="emailDomain">Email Regex</label>
				<input class="form-control" id="emailDomain" name="subscriberGroup[emailDomain]" type="text" value="<%= subscriberGroup.emailDomain %>">
			</div>
			<div class="row form-group">
				<label for="signUpSlug">Sign Up Page Slug</label>
				<input class="form-control" id="signUpSlug" name="subscriberGroup[signUpSlug]" type="text" value="<%= subscriberGroup.signUpSlug %>">
			</div>

			<div class="row form-group justify-content-center">
				<button type="submit" class="btn btn-lg btn-primary btn-block col-md-4">Submit</button>
				<input type="hidden" name="_method" value="PUT">
			</div>
		</form>
	</div>

	<form
		class="row justify-content-center"
		action="<%= routes.subscriberGroups %>/<%= subscriberGroup._id %>"
		method="POST"
		onsubmit="return confirm('Do you really want to delete <%= subscriberGroup.groupName %> group?');">

		<button class="btn btn-lg btn-danger">Delete Subscriber Group</button>
		<input type="hidden" name="_method" value="DELETE">
	</form>


	<div class="row justify-content-center my-2">
		<a class="btn btn-lg btn-success" href="<%= routes.subscriberGroups %>">Go Back</a>
	</div>

</div>

<% include ../../partials/scripts %>
<% include ../../partials/footer %>
