<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">

	<div class="row my-2 justify-content-center">
		<h1>Edit Subscriber Group:</h1>
	</div>

	<div class="row my-2 justify-content-center">
		<h1><em><%= subscriberGroup.groupName %></em></h1>
	</div>


	<div class="row my-2 justify-content-center">
		<form
			class="col-md-6"
			action="<%= routes.subscriberGroups %>/<%= subscriberGroup._id %>"
			method="POST"
			enctype="multipart/form-data">

			<div class="row form-group">
				<label for="groupName">Group Name</label>
				<input class="form-control" id="firstName" name="subscriberGroup[groupName]" type="text" value="<%= subscriberGroup.groupName %>">
			</div>
			<div class="row form-group">
				<label for="emailDomain">Email Domain</label>
				<input class="form-control" id="emailDomain" name="subscriberGroup[emailDomain]" type="text" value="<%= subscriberGroup.emailDomain %>">
			</div>
			<div class="row form-group">
				<label for="signUpSlug">Sign Up Page Slug</label>
				<input class="form-control" id="signUpSlug" name="subscriberGroup[signUpSlug]" type="text" value="<%= subscriberGroup.signUpSlug %>">
			</div>
			<div class="row form-group">
				<label for="repairEmail">Repair Request Email</label>
				<input class="form-control" name="subscriberGroup[repairEmail]" id="repairEmail" type="text" value="<%= subscriberGroup.repairEmail %>">
			</div>
			<div class="row form-group">
				<label for="legalText">Legal Text</label>
				<textarea class="form-control" name="subscriberGroup[legalText]" id="legalText" rows="5"><%= subscriberGroup.legalText %></textarea>
			</div>
			<div class="row form-group">
			  <label for="groupLogoInput">Group Logo</label>
				<div class="input-group">
	        <label class="input-group-addon">
	          <span class="btn btn-primary">
	            Browse&hellip; <input name="subscriberGroup[logoSrc]" type="file" style="display: none;">
	          </span>
	        </label>
	        <input type="text" class="form-control" id="groupLogoInput" disabled>
	      </div>
      </div>
			<div class="row justify-content-center my-2">
				<div class="col-md-6">
				<img class="img-fluid" src="<%= subscriberGroup.logoSrc %>" />
				</div>
			</div>
			<div class="row form-group justify-content-center">
				<button type="submit" class="btn btn-lg btn-primary btn-block col-md-4">Submit</button>
				<input type="hidden" name="_method" value="PUT">
			</div>
		</form>
	</div>

	<form
		class="row justify-content-center"
		action="<%= routes.subscriberGroups %>/<%= subscriberGroup._id %>"
		method="POST"
		onsubmit="return confirm('Do you really want to delete <%= subscriberGroup.groupName %> group?');">
		<button class="btn btn-lg btn-danger">Delete Subscriber Group</button>
		<input type="hidden" name="_method" value="DELETE">
	</form>

	<div class="row justify-content-center my-2">
		<a class="btn btn-lg btn-success" href="<%= routes.subscriberGroups %>">Go Back</a>
	</div>
</div>

<% include ../../partials/scripts %>
<script>
$(function() {
  $(document).on('change', ':file', function() {
    var input = $(this),
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [label]);
  });
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, label) {
          var input = $(this).parents('.form-group').find(':text'),
              log = label;
          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }
      });
  });
});
</script>
<% include ../../partials/footer %>
